/* ----- Imported font style ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: serif;

}
body
{
	font-family: serif; 
	min-height: 100vh;
	flex-wrap: wrap;

}
/* ----- Navigation bar ----- */
.navigation
{
	position:absolute;
	width: 60px;
	height: 100%;
	background:rgba(22,3,28,0.4);
	transition: 0.5s;
	overflow: hidden;
	z-index: 1000;

}
.navigation.active
{
	width: 300px;

}
.navigation ul
{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
}
.navigation ul li
{
	position: relative;
	width: 100%;
	list-style: none;
}
.navigation ul li:hover
{
	background-color: #e04f15;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .icon
{
	position: relative;
	min-width: 60px;
	height: 60px;
	display: block;
	line-height: 60px;
	text-align: center;
}
.navigation ul li a .icon .fa
{
	font-size: 24px;

}
.navigation ul li a .title
{
    position: relative;
	 padding: 0 10px;
	height: 60px;
	display: block;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}
.toggle 
{
	position: absolute;
	top:0;
	right: 0;
	width: 60px;
	height: 60px;
	background-color: #2d2a2e;
	cursor: pointer;
	z-index: 1000;
}
.toggle.active
{
    background:#e04f15;
	position: absolute;
	z-index: 100;
}
.toggle:before
{
	content: '\f0c9';
	font-family: fontAwesome;
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 60px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	z-index: 100;

}
.toggle.active:before
{
	content: '\f00d';

}
/* ----- Media Query for navigation bar ----- */
@media (max-width: 767px)
{
	.navigation
	{
		left:-60px;
	}
	.navigation.active
	{
		left: 0;
		width: 100%;
	}
}
/* ----- Content section for video ----- */
section
{
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
    font-family: serif;
}
 
.sc section h2
{
	position: relative;
	font-size: 8em;
	color:#05ffff;
	z-index: 100000;
	text-transform: uppercase;
	font-family: serif;
	text-shadow: 3px 3px 5px #fff,
		         -5px -5px 4px #35403f,
		     	  6px -10px 4px #35403f;
			             
}
section video
{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* ----- Content ----- */
.main-content
{
	display: flex;
}
.main-content .box
{
 	flex-basis: 50%;
 	padding: 10px 20px;
}
.box h2
{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
	font-family: serif;

}

.box .content
{
	margin:20px 0 0 0;
}
.box .content p
{
	text-align: justify;
}
.left .content .social
{ 
	margin:20px 0 0 0;
}
.left .content .social a
{ 
	 padding: 0 2px;
}
.left .content .social a span
{ 
	height: 40px;
	width: 40px;
	background-color: #1a1a1a;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 50%;
	color: #fff;
	z-index: 10000;
	font-family: serif;
}
.left .content .social a span:hover
{
	background-color: #f12020;
}

.con
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.con .set_a
{	 
	width: 400px;
	height: 300px;
	margin: 35px 80px;
	position: relative;
	animation: animate_ar 1s linear;
}
.con .set_a h2
{
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.5);
	margin-bottom: 20px;
	font-family: serif;
}
.con .set_a p
{
	line-height: 25px;
	font-weight:15px;
	font-size: 18px;
}
.con .photo_a
{
	box-shadow: 10px 5px 20px #000;
	position: relative;
	animation: animate_br 1s linear;
}
.con .set_b
{			 
	width: 400px;
	height: 300px;
	margin: 100px;
	left:80px;
	position: relative;
	animation: animate_al 1s linear;
}
.con .set_b h2
{
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.5);
	margin-bottom: 15px;
}
.con .set_b p
{
	line-height: 25px;
	font-weight:15px;
	font-size: 18px;
}
.con .photo_b
{
	box-shadow: 10px 5px 20px #000;
	position: relative;
	left:50px;
	animation: animate_bl 1s linear;
}

:root{
 	--b-a-width:20vw;
 	--b-a-md-width:15vw;
 	--b-a-sm-width:20vw;
};
.main_con
{
 	text-align: center;
}
.main_con h1
{
 	margin: 70px;
 	text-shadow: 0 2px 4px rgba(0,0,0,0.5);
 	text-transform: uppercase;
 	text-align: center;
 	font-family: serif;

}
.main_con h1::before
{
    content: ''; 
    position: absolute;
    margin-top:55px;
    left: 50%;
    width: var(--b-a-width);
    border-bottom: 5px solid #0fa8a1;
    font-family: serif;
} 
.main_con h1::after
{
 	content: '';
 	position: absolute;
 	margin-top: -13px;
 	left: 34%;
 	 width: var(--b-a-width);
    border-bottom: 5px solid #0fa8a1;
    font-family: serif;
}

.video
{
 	position: relative;
 	left: 24%;
 	margin: 60px;    
}

 .ani_con
{
	display: flex;
	margin: 50px 27%;
}
.ani
{
	position: relative;
	width:100px;
	height: 100px;
	transform-style: preserve-3d; 
}
	
.ani span
{  
	position: absolute;
	display: block;
	border:2px solid #000;
	box-shadow: 0 5px 5px #ccc,
	            inset 0 5px 5px #ccc;
	box-sizing: border-box;	 
	animation: animate 3s ease-in-out infinite;
}
@keyframes animate
{
	0%
	{
    border-radius: 50%;
	width:0px;
	height: 0px;
	}
	100%
	{
    border-radius: 50%;
	width:100px;
	height: 100px;
	}
}

.main_con p
{ 
	text-align: center;
	margin: auto;
	width: 700px;
	line-height: 25px;
	opacity: 0.9;
	font-family: serif;
}

.bg
{
	margin: 50px;
	text-align: center;
	font-family: serif;
	opacity: 0.8;
	line-height: 23px;
	font-size: 13px;
 
}
/* ----- footer ----- */
*.footer{
    margin:0;
    padding:0;
    font-family: serif;
}
.body-content{
    width: 100%;
    padding: 20px;
    text-align: justify;
    box-sizing:border-box;
    font-size: 18px;
    line-height:40px;
}
footer{
    width:100%;
    background: #00121b;
    display:block;
}
.inner-footer{
    width:95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap:wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-item{
    width: 33%;
    padding: 10px 20px;
    box-sizing: border-box;
}
footer h1{
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}
.footer-item p{
    color: grey;
    font: 16px;
    text-align:justify;
    line-height: 25px;
}
footer h2{
    margin: 10px 0;
    color:grey;
    font-size:16px;
    font-weight: lighter;
    text-transform:uppercase;
}
.border{
    height: 2px;
    width: 40px;
    background: #ff9800;
}
footer ul{
    list-style: none;
    color:#fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}
footer ul a{
    text-decoration:none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}
footer ul a:hover{
    color: #ff9800;
}
footer ul li{
    margin:10px;
   
    height:25px;
}
footer li i{
    margin-right: 10px 0;
}
.social-media{
    width:100%;
    color:#fff;
    text-align: center;
}
.social-media a{
    text-decoration: none;
}
.social-media i{
    height: 35px;
    width:40px;
    margin:20px 5px;
    padding: 10px;
    color:#fff;
    border-radius: 50%;
    border:1px solid grey;
    transition: 0.3s;
}
.social-media i:hover{
    background: grey;
}
.footer-bottom{
    padding:20px;
    background: #3d545f;
    color: #fff;
    font-size: 12px;
    text-align:center;
}
.special{
    padding-left:10%;
}
/* ----- Media Query for footer ----- */
@media screen and (max-width: 1085px){
    .footer-item{
        width:50%;
    }
}
@media screen and (max-width: 600px){
    .footer-item{
        width:100%;
    }
}

  

